ion-grid{
    font-size: smaller;
}

.table-vertical{
    display: none ;
}
.table-horizontal{
    display: inline-table;
}

h4{
    font-weight: bold;
    text-align: center;
}

table{
    margin-top: 10px;
    width: 100%;
}

.table-header{
    border: 1px solid;
    margin: 0px;
    padding: 0px;
    background-color: rgb(187, 197, 255);

    .header-info{
        border-right: 1px solid;
        padding-top: 5pt;
        padding-bottom: 5pt;
        text-align: center;
    }

    th:last-child{
        border-right: 0;
    }
}


.table-body{
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    margin: 0px;
    padding: 0px;

    .body-info{
        border-right: 1px solid;
        padding-top: 3pt;
        padding-bottom: 3pt;
        text-align: center;
    }

    td:last-child{
        border-right: 0;
    }
}

ion-button{
    width: 100%;
}

.header-label{
    height: 30pt;
    margin: 0;
    padding: 0;
}

.header-input{
    height: 30pt;
    border-bottom: rgb(199, 199, 199) solid 1px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 576px){
    .table-vertical{
        display: inline-table;
    }
    .table-horizontal{
        display: none;
    }

    h4{
        font-size: 1.1em;
    }

    .header-label{
        height: auto;
        font-size: 0.9em;
    }
    
    .header-input{
        height: auto;
    }

    .table-header{
        font-size: 0.9em;
    }
    
    
    .table-body{
        font-size: 0.9em;
        .body-info2{
            text-align: left;
            padding-left: 10px;
        }
    }
    
    
}